/DApi/nbproject/private/
/DApi/build/
/MyProject123/nbproject/private/
/MyProject123/build/
/FirstProject/nbproject/private/
/FirstProject/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/MyProject123/dist/
/FirstApplication/nbproject/private/
/FirstApplication/build/
/SampleTest/nbproject/private/
/SampleTest/build/
/PractiseWeb/nbproject/private/
/PractiseWeb/build/
/KhanaKhazana/nbproject/private/
/RequestExperiment/nbproject/private/
/KhanaKhazana/build/
/Experiment5/nbproject/private/
/Experiment5/build/
/Experiment5/dist/
/MyOwnSong/nbproject/private/
/MyOwnSong/build/
/SignUpForm/nbproject/private/
/SignUpForm/build/
/newWork/nbproject/private/
/newWork/build/
/newWork/dist/
/LeetCode/nbproject/private/
/LeetCode/build/
